websockets>=12
realtime>=1.0.0
supabase>=2.4.0
langgraph>=0.2.0
langchain>=0.3.0
python-dotenv
langchain-groq
pydantic
gradio
sendgrid
langchain-core>=0.3.0
langchain_tavily>=0.1.0
fastapi
google-auth 
google-auth-oauthlib 
google-auth-httplib2 
google-api-python-client
slack_sdk
discord.py
resend