langgraph>=0.2.0
langchain>=0.3.0
langsmith
python-dotenv
langchain-groq
pandas
numpy
scikit-learn
torch
transformers>=4.44.0
accelerate
sentencepiece
peft
trl
langchain-core>=0.3.0
langchain-community>=0.3.0
langchain-openai
langchain_tavily>=0.1.0
langchain-huggingface>=0.1.0